<launch4jConfig>
    <dontWrapJar>false</dontWrapJar>
    <headerType>0</headerType>
    <jar>C:\dev\netbeans\jSync\dist\jSync_out.jar</jar>
    <outfile>C:\dev\netbeans\jSync\dist\jSync.exe</outfile>
    <errTitle></errTitle>
    <jarArgs></jarArgs>
    <chdir>.</chdir>
    <customProcName>true</customProcName>
    <stayAlive>false</stayAlive>
    <icon>C:\dev\netbeans\jSync\launch4j\jSync.ico</icon>
    <jre>
        <path>jre</path>
        <minVersion>1.4.0</minVersion>
        <maxVersion></maxVersion>
        <initialHeapSize>0</initialHeapSize>
        <maxHeapSize>0</maxHeapSize>
        <args>-ms16M  -mx64M</args>
    </jre>
</launch4jConfig>